body {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h1 {
  font-size: 30px;
}
.top-banner {
  display: flex;
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.orange-color {
  color: orange;
}
.button-color {
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 3px;
  color: white;
}
.half-width {
  width: 50%;
  padding-left: 80px;
}
.half-width img {
  width: 70%;
}
.dream-big-area {
  display: flex;
  background-image: url(images/dream-bg.png);
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}
.flexible-container {
  display: flex;
}
.experience-area {
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
}
#full-stack-experience-item {
  border-left: 7px solid tomato;
}
#baby-web-experience-item {
  border-left: 7px solid blue;
}
footer p {
  text-align: center;
}
.experiences {
  margin-bottom: 50px;
}
